.icon-picker-wrapper {
    text-align: center;
    margin-top: 30px;
  }
  
  .open-button {
    padding: 12px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color:rgb(80, 80, 243);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .open-button:hover {
    background-color: #74b9ff;
  }
  
  .selected-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    max-width: 700px;
    margin: auto;
  }
  
  .icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .icon-option {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
    border: 2px solid transparent;
  }
  
  .icon-option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .icon-option:hover {
    transform: scale(1.1);
    border-color: #0984e3;
  }
  
  .close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d63031;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #e17055;
  }
  